@use "../helpers" as *;

// global styles
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%; //1em = 10px로 설정
}
body {
  position: relative;
  overflow: auto;
  font-family: $fontDef;
  letter-spacing: -0.06rem;
  color: $colorDef;
  font-size: 16px;
  line-height: 1.6;
  word-break: keep-all;
  &.prevent-scroll {
    overflow: hidden;
  }
}

// dim
.dim {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
}

// wrapper
.wrapper {
  position: relative;
  &.prevent-scroll {
    overflow: hidden;
  }
}
.wrap {
  max-width: 1480px;
  margin: 0 auto;
  @include mq-lap {
    width: 90%;
  }
}

// text
[class^="fs-title"],
[class^="fs-txt"] {
  strong {
    display: inline;
  }
}
@include mq-mobile {
  [class^="fs-title"],
  [class^="fs-txt"] {
    word-break: keep-all;
    br {
      display: none;
    }
  }
}
.fs-txt-0 {
  font-size: $fsXsmall;
  line-height: 1.4;
}
.fs-txt-2 {
  font-size: $fsMedium;
}
.fs-txt-3 {
  font-size: $fsLage;
}
.fs-txt-4 {
  font-size: $fsXLage;
}
.fs-txt-5 {
  font-size: $fsBig;
  line-height: 1.5;
}
.fs-title-1 {
  font-size: $fsEx;
  line-height: 1.5;
}
.fs-title-1s {
  font-size: $fsExS;
  line-height: 1.5;
}
.fs-title-2 {
  font-size: $fsExT;
  line-height: 1.5;
}
a {
  color: unset;
}
h1,
h2,
h3 {
  letter-spacing: -0.666px;
}
h1,
h2 {
  font-family: $fontTitle;
}
.bold {
  font-family: $fontBold;
}
.boldEx {
  font-family: $fontBoldEx;
}
.sub {
  color: $colorGray;
}
.txt {
  line-height: 1.8;
  text-align: justify;
  word-break: break-all;
}
.point {
  color: $colorPo01;
}
.red {
  color: $colorRed;
}
