// ** typography.scss

// ----- 기본 -----
@font-face {
    font-family: "wf210마루고딕010";
    src: url("https://www.design210.com/f_preview/210/210 마루고딕 010.woff2") format('woff2');
}
@font-face {
    font-family: "wf210마루고딕020";
    src: url("https://www.design210.com/f_preview/210/210 마루고딕 020.woff2") format('woff2');
}
@font-face {
    font-family: "wf210마루고딕030";
    src: url("https://www.design210.com/f_preview/210/210 마루고딕 030.woff2") format('woff2');
}
@font-face {
    font-family: "wf210마루고딕040";
    src: url("https://www.design210.com/f_preview/210/210 마루고딕 040.woff2") format('woff2');
}
@font-face {
    font-family: "wf210마루고딕050";
    src: url("https://www.design210.com/f_preview/210/210 마루고딕 050.woff2") format('woff2');
}
@font-face {
    font-family: "wf210마루고딕060";
    src: url("https://www.design210.com/f_preview/210/210 마루고딕 060.woff2") format('woff2');
}
@font-face {
    font-family: "wf210마루고딕070";
    src: url("https://www.design210.com/f_preview/210/210 마루고딕 070.woff2") format('woff2');
}
@font-face {
    font-family: "wf210마루고딕080";
    src: url("https://www.design210.com/f_preview/210/210 마루고딕 080.woff2") format('woff2');
}
@font-face {
    font-family: "wf210마루고딕090";
    src: url("https://www.design210.com/f_preview/210/210 마루고딕 090.woff2") format('woff2');
}
@font-face {
    font-family: "wf210마루고딕100";
    src: url("https://www.design210.com/f_preview/210/210 마루고딕 100.woff2") format('woff2');
}

// ----- 메인 슬라이드 -----
// 버터
@font-face {
    font-family: "wf210버터LRound";
    src: url("https://www.design210.com/f_preview/210/210 버터L Round.woff2") format('woff2');
}
@font-face {
    font-family: "wf210버터LSquare";
    src: url("https://www.design210.com/f_preview/210/210 버터L Square.woff2") format('woff2');
}
@font-face {
    font-family: "wf210버터RRound";
    src: url("https://www.design210.com/f_preview/210/210 버터R Round.woff2") format('woff2');
}
@font-face {
    font-family: "wf210버터RSquare";
    src: url("https://www.design210.com/f_preview/210/210 버터R Square.woff2") format('woff2');
}

// 게임보이
@font-face {
    font-family: "wf210게임보이B";
    src: url("https://www.design210.com/f_preview/210/210 게임보이B.woff2") format('woff2');
}
@font-face {
    font-family: "wf210게임보이L";
    src: url("https://www.design210.com/f_preview/210/210 게임보이L.woff2") format('woff2');
}
@font-face {
    font-family: "wf210게임보이R";
    src: url("https://www.design210.com/f_preview/210/210 게임보이R.woff2") format('woff2');
}

// 연애시대
@font-face {
    font-family: "wf210연애시대B";
    src: url("https://www.design210.com/f_preview/210/210 연애시대B.woff2") format('woff2');
}
@font-face {
    font-family: "wf210연애시대L";
    src: url("https://www.design210.com/f_preview/210/210 연애시대L.woff2") format('woff2');
}

// 수퍼사이즈
@font-face {
    font-family: "wf210수퍼사이즈ExtraBold";
    src: url("https://www.design210.com/f_preview/210/210 수퍼사이즈ExtraBold.woff2") format('woff2');
}
@font-face {
    font-family: "wf210수퍼사이즈Heavy";
    src: url("https://www.design210.com/f_preview/210/210 수퍼사이즈Heavy.woff2") format('woff2');
}

// 밤과별
@font-face {
    font-family: "wf210밤과별B";
    src: url("https://www.design210.com/f_preview/210/210 밤과별B.woff2") format('woff2');
}
@font-face {
    font-family: "wf210밤과별R";
    src: url("https://www.design210.com/f_preview/210/210 밤과별R.woff2") format('woff2');
}