// ** variable.scss

:root {
  --color-def: #000;
  --color-gray: #888888;
  --color-midGray: #cccaca;
  --color-bg-gray: #f8f8f8;
  --color-bg-lightGray: #f9f9f9;
  --color-line-gray: #dedede;

  --color-point: #fb5a50; // #FF592E #e44a42
  --color-subPoint: #ffc000;
  --color-red: #e44a42; // 중요한 알림 표시

  // lighten(#FB5A50, 25%);
  // darken(#FB5A50, 10%);
}

// ----- 색상 관리 -----
$colorDef: var(--color-def);
$colorGray: var(--color-gray);
$colorBgGray: var(--color-bg-gray);
$colorLightBgGray: var(--color-bg-lightGray);
$colorLineGray: var(--color-line-gray);
$colorMidGray: var(--color-midGray);
$colorPo01: var(--color-point);
$colorPo02: var(--color-subPoint);
$colorPoLight: var(--color-point-light);
$colorPoDark: var(--color-point-dark);
$colorRed: var(--color-red);
$colorClient: var(--color-client);

// ----- 웹폰트 관리 -----
$fontDef: "wf210마루고딕040";
$fontTitle: "wf210마루고딕030";
$fontBold: "wf210마루고딕070";
$fontBoldEx: "wf210마루고딕090";

// ----- 사이즈 관리 -----
// 폰트
$fsXsmall: 1.25rem;
$fsDef: 1.5rem;
$fsMedium: 1.8rem;
$fsLage: clamp(1.8rem, 1.35vw, 2rem);
$fsXLage: clamp(2rem, 2vw, 3rem);
$fsBig: clamp(2.2rem, 3vw, 4rem);
$fsEx: clamp(2.2rem, 2.4vw, 3.6rem);
$fsExS: clamp(2.6rem, 3.1vw, 4.6rem);
$fsExT: clamp(2.6rem, 4vw, 5.6rem);

// 테두리
$border-width: 2px;
